@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #fefefe;
}

.h-bg {
  background: hsla(227, 100%, 89%, 1);

  background: linear-gradient(
    90deg,
    hsla(227, 100%, 89%, 1) 0%,
    hsla(316, 94%, 86%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(227, 100%, 89%, 1) 0%,
    hsla(316, 94%, 86%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(227, 100%, 89%, 1) 0%,
    hsla(316, 94%, 86%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C5D2FF", endColorstr="#FDBBEB", GradientType=1 );
}

.f-bg {
  background: hsla(227, 100%, 89%, 1);

  background: linear-gradient(
    to bottom,
    hsla(227, 100%, 89%, 1) 0%,
    hsla(316, 94%, 86%, 1) 100%
  );

  background: -moz-linear-gradient(
    to bottom,
    hsla(227, 100%, 89%, 1) 0%,
    hsla(316, 94%, 86%, 1) 100%
  );

  background: -webkit-linear-gradient(
    to bottom,
    hsla(227, 100%, 89%, 1) 0%,
    hsla(316, 94%, 86%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C5D2FF", endColorstr="#FDBBEB", GradientType=1 );
}

.t-bg {
  background: hsla(212, 13%, 41%, 1);

  background: linear-gradient(
    to right,
    hsla(212, 13%, 41%, 1) 0%,
    hsla(3, 100%, 73%, 1) 100%
  );

  background: -moz-linear-gradient(
    to right,
    hsla(212, 13%, 41%, 1) 0%,
    hsla(3, 100%, 73%, 1) 100%
  );

  background: -webkit-linear-gradient(
    to right,
    hsla(212, 13%, 41%, 1) 0%,
    hsla(3, 100%, 73%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5A6776", endColorstr="#FF7B74", GradientType=1 );
}

.b-bg {
  background: hsla(52, 71%, 66%, 1);

  background: linear-gradient(
    90deg,
    hsla(52, 71%, 66%, 1) 0%,
    hsla(51, 33%, 75%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(52, 71%, 66%, 1) 0%,
    hsla(51, 33%, 75%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(52, 71%, 66%, 1) 0%,
    hsla(51, 33%, 75%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E6D56B", endColorstr="#D5CFAC", GradientType=1 );
}
.green-bg {
  background: hsla(154, 63%, 49%, 1);

  background: linear-gradient(
    90deg,
    hsla(154, 63%, 49%, 1) 0%,
    hsla(161, 62%, 67%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(154, 63%, 49%, 1) 0%,
    hsla(161, 62%, 67%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(154, 63%, 49%, 1) 0%,
    hsla(161, 62%, 67%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2ECE89", endColorstr="#78DFBE", GradientType=1 );
}

.container-size {
  width: 100%;
  max-width: 1200px;
  padding: 3rem;
  margin: 0 auto;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  padding: 1rem 2rem;
  transition: all 250ms ease;
  &:hover {
    box-shadow: 0px 1px 3px 0px #ffffff;
  }
}

.g-red {
  width: 100%;
  max-width: 400px;
  transform: translateX(50%);
  background: hsla(0, 100%, 67%, 1);
  background: linear-gradient(
    90deg,
    hsla(0, 100%, 67%, 1) 0%,
    hsla(0, 100%, 89%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(0, 100%, 67%, 1) 0%,
    hsla(0, 100%, 89%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 100%, 67%, 1) 0%,
    hsla(0, 100%, 89%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF5858", endColorstr="#FFC8C8", GradientType=1 );
}

.g-blue {
  width: 100%;
  max-width: 400px;
  transform: translateY(-10%);
  scale: 1.25;
  z-index: 5;
  background: hsla(239, 100%, 67%, 1);
  background: linear-gradient(
    90deg,
    hsla(239, 100%, 67%, 1) 0%,
    hsla(187, 100%, 89%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(239, 100%, 67%, 1) 0%,
    hsla(187, 100%, 89%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(239, 100%, 67%, 1) 0%,
    hsla(187, 100%, 89%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#595CFF", endColorstr="#C6F8FF", GradientType=1 );
}

.g-green {
  width: 100%;
  max-width: 400px;
  transform: translateX(-50%);
  background: hsla(145, 84%, 73%, 1);
  background: linear-gradient(
    90deg,
    hsla(150, 61%, 48%, 1) 0%,
    hsla(145, 84%, 73%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(150, 61%, 48%, 1) 0%,
    hsla(145, 84%, 73%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(150, 61%, 48%, 1) 0%,
    hsla(145, 84%, 73%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#82F4B1", endColorstr="#30C67C", GradientType=1 );
}

.g-logo {
  opacity: 0;
  transform: translateY(100%);
}

.g-box {
  height: 500px;
}

.slick-current > div:first-child {
  display: flex;
  margin-bottom: 0.5rem;
}

.slick-dots li button:before {
  color: white;
  font-size: 0.75rem;
  transition: all 200ms ease;
}

.slick-dots li.slick-active button:before {
  color: white;
}
